@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.menuLinks {
  .menuLink {
    border: 1px solid #ccc;
    margin: 0;
    border-top: 0;
    display: flex;
    gap: 5px;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    &::before {
      content: "\f08b";
      width: 15px;
      display: flex;
      justify-content: center;
    }
  }
  &::before {
    content: "MENU";
    font-size: 18px;
    color: #ab8663;
    text-transform: uppercase;
    text-align: left;
    height: 30px;
    width: 100%;
    display: block;
    // line-height: 40px;
    border-bottom: 2px solid #ccc;
  }

  :global(.vtex-account_menu-link) {
    border: 1px solid #ccc;
    margin: 0;
    border-top: 0;
    display: flex;
    gap: 5px;
    &::before {
      font: normal normal normal 14px / 1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  :first-child {
    :first-child {
      :global(.vtex-account_menu-link) {
        &:global(.b--action-primary) {
          border-color: #ccc;
        }
        &::before {
          content: "\f2be";
          width: 15px;
          display: flex;
          justify-content: center;
        }
      }
    }
    :nth-child(2) {
      :global(.vtex-account_menu-link) {
        &::before {
          content: "\f041";
          width: 15px;
          display: flex;
          justify-content: center;
        }
      }
    }
    :nth-child(3) {
      :global(.vtex-account_menu-link) {
        &::before {
          content: "\f07a";
          width: 15px;
          display: flex;
          justify-content: center;
        }
      }
    }
    :nth-child(5) {
      :global(.vtex-account_menu-link) {
        &::before {
          content: "\f084";
          width: 15px;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.menu {
  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }
}

:global(.vtex-account__page) {
  :global(.vtex-pageHeader__container) {
    padding: 0.9rem 2rem;
  }
  :global(.vtex-pageHeader__title) {
    color: #ab8663;
    display: flex;
    gap: 10px;
    align-items: center;
    &::before {
      font: normal normal normal 25px / 1 FontAwesome;
      content: "\f007";
    }
  }
  :global(.vtex-button) {
    color: #ab8663;
    text-decoration: none;
    padding: 4px 10px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #ab8663;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    &:hover {
      background-color: #ab8663 !important;
      color: white;
    }
  }
  :global(.vtex-account__order-details) {
    ul {
      li {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

:global(.vtex-my-orders-app-3-x-orderBody) {
  :global(.vtex-my-orders-app-3-x-cancelBtn) {
    span {
      font-size: 0;
      &::before{
        content: "Solicitar Troca ou Devolução";
        display: block;
        font-size: 14px;
      }
    }
  }
}

:global(.vtex-my-orders-app-3-x-cancelBtn) {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) {
   @media (min-width: 769px){
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
      &:nth-child(1) {
       width: 14%!important;
     }
   }
   :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
     &:nth-child(2) {
      width: 30%!important;
      @media (min-width: 769px) and (max-width: 1199px){
        width: 60%!important;
      }
      @media  (min-width: 1200px) and (max-width: 1739px) {
        width: 40%!important;
      }
      @media (min-width: 1740px) {
        width: 30%!important;
      }
    }
  }
   :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
     &:nth-child(2) {
       :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
         &:nth-child(1) {
          width: 100%!important;
        }
       }
     :global(.vtex-slider-layout-0-x-slideChildrenContainer),
     :global(.vtex-slider-layout-0-x-slide--visible){
       width: 56px!important;
     }
    }
   }
   }
}



:global(.eurico-agenciafg-custom-0-x-newsletterform__newsletterlabelInput){

  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #606060;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  cursor: pointer;

  &:checked{
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #C00018;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

:global(.render-route-store-home){
  :global(.vtex-sticky-layout-0-x-wrapper--hover-header){
    position: absolute!important;
    width: 100%!important;
    top: 40px;
  }
  :global(.vtex-store-components-3-x-logoImage--logo-initial){
    display: none;
  }
  :global(.vtex-store-components-3-x-logoImage--logo-hover){
    display: block;
  }

  :global(.vtex-sticky-layout-0-x-container--hover-header){
    :global(.vtex-menu-2-x-styledLink--menu__item){
      color: #fff;
    }
    :global(.vtex-store-components-3-x-searchBarContainer){
      :global(.vtex-store-components-3-x-searchBarIcon){
        &::before{
          background: url(assets/icons/search-white.svg);
          width: 28px;
          height: 28px;
        }
      }
    }
    :global(.vtex-store-components-3-x-searchBarContainer){
      :global(.vtex-input-prefix__group){
        border-bottom: 1px solid #FFF;
      }
    }

    :global(.vtex-store-components-3-x-searchBarContainer){
      :global(.vtex-styleguide-9-x-input){
        &::placeholder{
          color :#FFF;
        }
      }
    }
    :global(.vtex-login-2-x-container){
      :global(.vtex-button){
        background: url(assets/icons/user-icon.svg);
        width: 28px;
        height: 28px;
      }
    }
    :global(.vtex-minicart-2-x-minicartContainer){
      :global(.vtex-minicart-2-x-minicartIconContainer){
        &::before{
          background: url(assets/icons/bag-white.svg);
          width: 28px;
          height: 28px;
        }
      }
    }
    &:hover{
      background: #fff;
      :global(.vtex-menu-2-x-styledLink--menu__item){
        color: #3f3f40;
      }
      :global(.vtex-store-components-3-x-logoImage--logo-initial){
        display: block;
        margin-left: -10px;
        margin-top: 30px;
      }
      :global(.vtex-store-components-3-x-logoImage--logo-hover){
        display: none;
      }
      :global(.vtex-store-components-3-x-searchBarContainer){
        :global(.vtex-store-components-3-x-searchBarIcon){
          &::before{
            background: url(assets/icons/search-black.svg);
            width: 28px;
            height: 28px;
          }
        }
      }
      :global(.vtex-store-components-3-x-searchBarContainer){
        :global(.vtex-input-prefix__group){
          border-bottom: 1px solid #000;
        }
      }
      :global(.vtex-store-components-3-x-searchBarContainer){
        :global(.vtex-styleguide-9-x-input){
          &::placeholder{
            color :#949494;
          }
        }
      }
      :global(.vtex-login-2-x-container){
        :global(.vtex-button){
          background: url(assets/icons/user-black.svg);
          width: 28px;
          height: 28px;
        }
      }
      :global(.vtex-minicart-2-x-minicartContainer){
        :global(.vtex-minicart-2-x-minicartIconContainer){
          &::before{
            background: url(assets/icons/bag-black.svg);
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}


:global(.vtex-store-components-3-x-logoImage--logo-hover){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--header__content) {
  height: 70px;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) {
  :global(.vtex-store-components-3-x-logoImage--logo-hover){
    display: none;
  }
  :global(.vtex-store-components-3-x-logoImage--logo-initial){
    display: block;
  }
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck){
  :global(.vtex-flex-layout-0-x-flexRowContent--header__content-mobile){
    @media (max-width: 768px){
      background-color: white!important;
    }
  }
  :global(.vtex-sticky-layout-0-x-container){
    @media (max-width: 768px){
      top: 0;
    }
  }
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
  @media (max-width: 339px){
    margin-top: -100px;
  }
  @media (min-width: 340px) and (max-width: 359px){
    margin-top: -100px;
  }
  @media (min-width: 360px) and (max-width: 369px){
    margin-top: -90px;
  }
  @media (min-width: 370px) and (max-width: 380px){
    margin-top: -83px;
  }
  @media (min-width: 381px) and (max-width: 395px){
    margin-top: -75px;
  }
  @media (min-width: 396px) and (max-width: 409px){
    margin-top: -70px;
  }
  @media (min-width: 410px) and (max-width: 768px){
    margin-top: -65px;
  }
}




:global(.vtex-sticky-layout-0-x-wrapper--stuck){
  :global(.vtex-minicart-2-x-minicartContainer){
    :global(.vtex-minicart-2-x-minicartIconContainer){
      &::before{
        @media (max-width: 768px){
          background: url('assets/icons/bag-black.svg');
          width: 28px;
          height: 28px;
          background-size: 24px;
        }
      }
    }
  }
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck){
  :global(.vtex-store-drawer-0-x-openIconContainer--menu__drawer){
    &::after{
      background: url("assets/icons/header/drawer.svg");
    }
  }
  :global(.vtex-store-components-3-x-imageElement--search-bar-fixed),
  :global(.vtex-store-components-3-x-logoContainer--logo-mobile-fixed){
    display: block;
  }
  :global(.vtex-store-components-3-x-imageElement--search-bar-initial),
  :global(.vtex-store-components-3-x-logoContainer--logo-mobile-initial){
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile){
    :global(.vtex-login-2-x-container){
      :global(.vtex-button){
        @media (max-width: 768px){
          background: url(assets/icons/user-black.svg);
          width: 28px;
          height: 28px;
          background-repeat: no-repeat;
        background-size: 28px;
        }
      }
    }
    :global(.vtex-minicart-2-x-minicartContainer){
      :global(.vtex-minicart-2-x-minicartIconContainer){
        &::before{
          @media (max-width: 768px){
            background: url('assets/icons/bag-black.svg');
            width: 28px;
            height: 28px;
            background-size: 28px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

:global(.vtex-store-components-3-x-imageElement--search-bar-fixed),
:global(.vtex-store-components-3-x-logoContainer--logo-mobile-fixed){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRow--header__content-mobile){
  :global(.vtex-login-2-x-container){
    :global(.vtex-button){
      @media (max-width: 768px){
        background: url(assets/icons/user-icon.svg);
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: 28px;
      }
    }
  }
  :global(.vtex-minicart-2-x-minicartContainer){
    :global(.vtex-minicart-2-x-minicartIconContainer){
      &::before{
        @media (max-width: 768px){
          background: url('assets/icons/bag-white.svg');
          width: 28px;
          height: 28px;
          background-size: 28px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}


:global(.vtex-flex-layout-0-x-flexRow--size-home-layout) {
  :global(.vtex-slider-layout-0-x-sliderTrackContainer) {
    @media (max-width: 768px){
      padding: 0 50px;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--brand-home-layout ){
  @media (min-width: 1200px){
    :global(.vtex-slider-layout-0-x-slide--visible) {
      width: 240px!important;
    }
    :global(.vtex-slider-layout-0-x-sliderTrack) {
      justify-content: center;
      gap: 20px;
    }
  }
}
