.sliderLayoutContainer{
  &--minicart-buytogether {
    padding-left: 10px !important;
    padding-right: 10px !important;
    touch-action: none !important;
    border: 1px solid #D5D5D5 !important;
    margin: 10px !important;
  }
}
