@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
@media (max-width: 1024px) {
  :global(.vtex-login-2-x-container) {
    margin-right: 15px;
  }
}

:globaL(.vtex-minicart-2-x-openIconContainer--header__minicart) {
  padding: 0.75em 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-slider-layout-0-x-slide--hidden) {
  opacity: 0;
}

.menuLinks .menuLink {
  border: 1px solid #ccc;
  margin: 0;
  border-top: 0;
  display: flex;
  gap: 5px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.menuLinks .menuLink::before {
  content: "\f08b";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks::before {
  content: "MENU";
  font-size: 18px;
  color: #ab8663;
  text-transform: uppercase;
  text-align: left;
  height: 30px;
  width: 100%;
  display: block;
  border-bottom: 2px solid #ccc;
}
.menuLinks :global(.vtex-account_menu-link) {
  border: 1px solid #ccc;
  margin: 0;
  border-top: 0;
  display: flex;
  gap: 5px;
}
.menuLinks :global(.vtex-account_menu-link)::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.menuLinks :first-child :first-child :global(.vtex-account_menu-link):global(.b--action-primary) {
  border-color: #ccc;
}
.menuLinks :first-child :first-child :global(.vtex-account_menu-link)::before {
  content: "\f2be";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks :first-child :nth-child(2) :global(.vtex-account_menu-link)::before {
  content: "\f041";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks :first-child :nth-child(3) :global(.vtex-account_menu-link)::before {
  content: "\f07a";
  width: 15px;
  display: flex;
  justify-content: center;
}
.menuLinks :first-child :nth-child(5) :global(.vtex-account_menu-link)::before {
  content: "\f084";
  width: 15px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1025px) {
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
}

:global(.vtex-account__page) :global(.vtex-pageHeader__container) {
  padding: 0.9rem 2rem;
}
:global(.vtex-account__page) :global(.vtex-pageHeader__title) {
  color: #ab8663;
  display: flex;
  gap: 10px;
  align-items: center;
}
:global(.vtex-account__page) :global(.vtex-pageHeader__title)::before {
  font: normal normal normal 25px/1 FontAwesome;
  content: "\f007";
}
:global(.vtex-account__page) :global(.vtex-button) {
  color: #ab8663;
  text-decoration: none;
  padding: 4px 10px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #ab8663;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
:global(.vtex-account__page) :global(.vtex-button):hover {
  background-color: #ab8663 !important;
  color: white;
}
:global(.vtex-account__page) :global(.vtex-account__order-details) ul li:last-child {
  display: none;
}

:global(.vtex-my-orders-app-3-x-orderBody) :global(.vtex-my-orders-app-3-x-cancelBtn) span {
  font-size: 0;
}
:global(.vtex-my-orders-app-3-x-orderBody) :global(.vtex-my-orders-app-3-x-cancelBtn) span::before {
  content: "Solicitar Troca ou Devolução";
  display: block;
  font-size: 14px;
}

:global(.vtex-my-orders-app-3-x-cancelBtn) {
  display: none;
}

@media (min-width: 769px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(1) {
    width: 14% !important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) {
    width: 30% !important;
  }
}
@media (min-width: 769px) and (min-width: 769px) and (max-width: 1199px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) {
    width: 60% !important;
  }
}
@media (min-width: 769px) and (min-width: 1200px) and (max-width: 1739px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) {
    width: 40% !important;
  }
}
@media (min-width: 769px) and (min-width: 1740px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) {
    width: 30% !important;
  }
}
@media (min-width: 769px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(1) {
    width: 100% !important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) :global(.vtex-slider-layout-0-x-slideChildrenContainer),
  :global(.vtex-flex-layout-0-x-flexRowContent--size-home-layout) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2) :global(.vtex-slider-layout-0-x-slide--visible) {
    width: 56px !important;
  }
}

:global(.eurico-agenciafg-custom-0-x-newsletterform__newsletterlabelInput) {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #606060;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}
:global(.eurico-agenciafg-custom-0-x-newsletterform__newsletterlabelInput):checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #C00018;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:global(.render-route-store-home) :global(.vtex-store-components-3-x-imageElement--search-bar) {
  margin-top: 0 !important;
}
:global(.render-route-store-home) :global(.vtex-store-drawer-0-x-openIconContainer--menu__drawer)::after {
  background-image: url("assets/icons/menu-drawer.svg") !important;
}
:global(.render-route-store-home) :global(.vtex-store-components-3-x-imageElement--search-bar-initial) {
  display: block !important;
}
:global(.render-route-store-home) :global(.vtex-store-components-3-x-imageElement--search-bar-fixed),
:global(.render-route-store-home) :global(.vtex-store-components-3-x-logoContainer--logo-mobile-fixed) {
  display: none;
}
@media (max-width: 768px) {
  :global(.render-route-store-home) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-login-2-x-container) :global(.vtex-button) {
    background: url(assets/icons/user-icon.svg) !important;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 28px;
  }
}
@media (max-width: 768px) {
  :global(.render-route-store-home) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
    background: url("assets/icons/bag-white.svg") !important;
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-repeat: no-repeat;
  }
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-drawer-0-x-openIconContainer--menu__drawer)::after {
  background-image: url("assets/icons/header/drawer.svg") !important;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-imageElement--search-bar-initial) {
  display: none !important;
}
@media (max-width: 768px) {
  :global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-login-2-x-container) :global(.vtex-button) {
    background: url(assets/icons/user-black.svg) !important;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 28px;
  }
}
@media (max-width: 768px) {
  :global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
    background: url("assets/icons/bag-black.svg") !important;
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  :global(.render-route-store-home) :global(.vtex-flex-layout-0-x-flexRowContent--header__content-mobile) {
    background-color: transparent !important;
  }
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-wrapper--hover-header) {
  position: absolute !important;
  width: 100% !important;
  top: 40px;
}
:global(.render-route-store-home) :global(.vtex-store-components-3-x-logoImage--logo-initial) {
  display: none;
}
:global(.render-route-store-home) :global(.vtex-store-components-3-x-logoImage--logo-hover) {
  display: block;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header) :global(.vtex-menu-2-x-styledLink--menu__item) {
  color: #fff;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarIcon)::before {
  background: url(assets/icons/search-white.svg);
  width: 28px;
  height: 28px;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) {
  border-bottom: 1px solid #FFF;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #FFF;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header) :global(.vtex-login-2-x-container) :global(.vtex-button) {
  background: url(assets/icons/user-icon.svg);
  width: 28px;
  height: 28px;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
  background: url(assets/icons/bag-white.svg);
  width: 28px;
  height: 28px;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover {
  background: #fff;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-menu-2-x-styledLink--menu__item) {
  color: #3f3f40;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-store-components-3-x-logoImage--logo-initial) {
  display: block;
  margin-left: -10px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  :global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-store-components-3-x-logoImage--logo-initial) {
    margin-left: 100px;
  }
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-store-components-3-x-logoImage--logo-hover) {
  display: none;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarIcon)::before {
  background: url(assets/icons/search-black.svg);
  width: 28px;
  height: 28px;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) {
  border-bottom: 1px solid #000;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #949494;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-login-2-x-container) :global(.vtex-button) {
  background: url(assets/icons/user-black.svg);
  width: 28px;
  height: 28px;
}
:global(.render-route-store-home) :global(.vtex-sticky-layout-0-x-container--hover-header):hover :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
  background: url(assets/icons/bag-black.svg);
  width: 28px;
  height: 28px;
}

:global(.vtex-store-components-3-x-logoImage--logo-hover) {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--header__content) {
  height: 70px;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) :global(.vtex-store-components-3-x-logoImage--logo-hover) {
  display: none;
}
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) :global(.vtex-store-components-3-x-logoImage--logo-initial) {
  display: block;
}

@media (max-width: 768px) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-flex-layout-0-x-flexRowContent--header__content-mobile) {
    background-color: white !important;
  }
}
@media (max-width: 768px) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-sticky-layout-0-x-container) {
    top: 0;
  }
}

@media (max-width: 339px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -100px;
  }
}
@media (min-width: 340px) and (max-width: 359px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -100px;
  }
}
@media (min-width: 360px) and (max-width: 369px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -90px;
  }
}
@media (min-width: 370px) and (max-width: 380px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -83px;
  }
}
@media (min-width: 381px) and (max-width: 395px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -75px;
  }
}
@media (min-width: 396px) and (max-width: 409px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -70px;
  }
}
@media (min-width: 410px) and (max-width: 768px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--fullbanner-home) {
    margin-top: -65px;
  }
}

@media (max-width: 768px) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
    background: url("assets/icons/bag-black.svg");
    width: 28px;
    height: 28px;
    background-size: 24px;
  }
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-imageElement--search-bar-fixed),
:global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-logoContainer--logo-mobile-fixed) {
  display: block;
}
:global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-imageElement--search-bar-initial),
:global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-logoContainer--logo-mobile-initial) {
  display: none;
}
@media (max-width: 768px) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-login-2-x-container) :global(.vtex-button) {
    background: url(assets/icons/user-black.svg);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 28px;
  }
}
@media (max-width: 768px) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
    background: url("assets/icons/bag-black.svg");
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRow--size-home-layout) :global(.vtex-slider-layout-0-x-sliderTrackContainer) {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  :global(.vtex-flex-layout-0-x-flexColChild--brand-home-layout) :global(.vtex-slider-layout-0-x-slide--visible) {
    width: 240px !important;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--brand-home-layout) :global(.vtex-slider-layout-0-x-sliderTrack) {
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 769px) {
  :global(.render-route-store-search-department) :global(.vtex-store-components-3-x-logoLink--logo-hover) {
    display: none !important;
  }
  :global(.render-route-store-search-department) :global(.vtex-store-components-3-x-logoImage--logo-initial) {
    display: block;
    margin-left: 40px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  :global(.render-container) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-login-2-x-container) :global(.vtex-button) {
    background: url(assets/icons/user-black.svg);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 28px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  :global(.render-container) :global(.vtex-flex-layout-0-x-flexRow--header__content-mobile) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer)::before {
    background: url("assets/icons/bag-black.svg");
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  :global(.render-container) :global(.vtex-store-drawer-0-x-openIconContainer--menu__drawer)::after {
    background-image: url("assets/icons/header/drawer.svg");
  }
}
:global(.render-container) :global(.vtex-store-components-3-x-imageElement--search-bar) {
  margin-top: -15px;
}

:global(.vtex-rich-text-0-x-paragraph--filter__size-title) {
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgb(57, 57, 57);
}

:global(.vtex-rich-text-0-x-paragraph--filter__size-filter) :global(.vtex-rich-text-0-x-link) {
  text-decoration: none;
  color: rgb(57, 57, 57);
}

:global(.vtex-flex-layout-0-x-flexCol--filter__size-left) {
  width: 200px !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--filter__size-princ) {
  width: 100%;
  justify-content: center;
  height: 110px;
  display: flex;
  align-items: center;
  background: #fafafa;
}
@media (min-width: 769px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--filter__size-princ) :global(.vtex-flex-layout-0-x-stretchChildrenWidth:nth-child(1)) {
    width: 14% !important;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--filter__size-princ) :global(.vtex-flex-layout-0-x-flexRowContent--filter__size-right) {
  justify-content: space-between;
  gap: 5px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--filter__size-princ) :global(.vtex-flex-layout-0-x-flexRowContent--filter__size-right) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 10% !important;
}

@media (max-width: 768px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carrossel) {
    margin-top: -60px;
  }
}

:global(.vtex-rich-text-0-x-paragraph--filter__size-filter) :global(.vtex-rich-text-0-x-link) {
  border: 1px solid rgb(192, 0, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgb(57, 57, 57);
  text-decoration: none;
}

@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexColChild--filter__size-mobile) :global(.vtex-rich-text-0-x-container--filter__size-title) {
    justify-content: center;
    margin: 20px;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--filter__size-mobile) :global(.vtex-rich-text-0-x-paragraph--filter__size-filter) :global(.vtex-rich-text-0-x-link) {
    color: #393939;
  }
}

@media (max-width: 768px) {
  :global(.vtex-product-summary-2-x-brandName) {
    text-align: center !important;
  }
}

:global(.render-route-store-search-department) :global(.vtex-sticky-layout-0-x-wrapper--stuck) :global(.vtex-store-components-3-x-imageElement--search-bar) {
  margin-top: 0 !important;
}
:global(.render-route-store-search-department) :global(.vtex-store-components-3-x-logoContainer--logo-mobile-fixed) {
  margin-left: 30px;
}

:global(.render-route-store-product) :global(.vtex-store-components-3-x-logoContainer--logo-mobile-fixed) {
  margin-left: 30px;
}
@media (max-width: 768px) {
  :global(.render-route-store-product) :global(.vtex-store-components-3-x-logoImage--logo-mobile-initial) {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexColChild--filter__size-mobile) :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  :global(.vtex-product-summary-2-x-brandName--category) {
    text-align: left !important;
  }
}

:global(.vtex-availability-notify-1-x-content) {
  flex-direction: column;
  width: 70%;
}

:global(.vtex-availability-notify-1-x-input) :global(.vtex-styleguide-9-x-input) {
  border: none;
}

@media (max-width: 768px) {
  :global(.vtex-availability-notify-1-x-notiferContainer) {
    margin: 0 5px;
  }
}