.minicartContainer .cartIcon {
  display: none;
}
.minicartContainer .minicartIconContainer::before {
  content: "";
  background: url(assets/icons/cart.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 24px;
  display: block;
}
.minicartContainer .openIconContainer--minicart,
.minicartContainer .openIconContainer--minicart-header__minicart {
  padding: 0.75em 0;
}
.minicartContainer .openIconContainer :global(.vtex-button):hover {
  background-color: transparent;
}
.minicartContainer .minicartQuantityBadge {
  width: 10px;
  height: 10px;
  background: #c00018;
  font-size: 10px;
}
.minicartContainer .minicartQuantityBadgeDefault {
  top: -0.1rem;
  right: -0.3rem;
}
.minicartContainer :global(.vtex-button__label) {
  padding: 0;
}
.minicartContainer .minicartIconContainer::before {
  content: "";
  background: url(assets/icons/bag-white.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 28px;
  height: 24px;
  display: block;
}
.minicartContainer .minicartWrapperContainer--header__minicart {
  width: 28px !important;
}

.opened--header__minicart {
  z-index: 9999 !important;
}

.drawerContent--header__minicart {
  z-index: 9999 !important;
  height: 100%;
}

.overlay--header__minicart--visible {
  z-index: 9999 !important;
}

.childrenContainer--header__minicart {
  height: 100%;
}

.minicartSideBarContentWrapper--header__minicart {
  height: 100% !important;
}

.closeIconButton--header__minicart::after {
  content: "";
  background-image: url(/arquivos/icon-closeButton.png);
  display: block;
  width: 32px;
  height: 32px;
}

.drawer--header__minicart {
  z-index: 1001;
}
@media (max-width: 1025px) {
  .drawer--header__minicart {
    max-width: 100% !important;
    width: 100% !important;
  }
}
.drawer--header__minicart .drawerContent--header__minicart .closeIconContainer--header__minicart {
  position: absolute;
}
.drawer--header__minicart .drawerContent--header__minicart .closeIconContainer--header__minicart .closeIcon {
  color: gray;
  display: none;
}
.drawer--header__minicart .drawerContent--header__minicart .closeIconContainer--header__minicart .closeIcon::after {
  content: "";
  background-image: url(/arquivos/icon-closeButton.png);
}
.drawer--header__minicart .drawerContent--header__minicart .minicartContentContainer .minicartTitle {
  display: none;
}

.minicartSideBarContentWrapper--header__minicart .minicartTitle {
  font-size: 0;
}

.minicartSummary--header__minicart--resume :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemLabel--header__minicart--resume) {
  font-size: 0;
}
.minicartSummary--header__minicart--resume :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemLabel--header__minicart--resume)::before {
  content: "Total";
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}
.minicartSummary--header__minicart--resume :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemPrice--header__minicart--resume) {
  font-size: 20px;
  color: #000;
  font-weight: 800;
  font-style: normal;
  display: block;
  letter-spacing: 1px;
}
.minicartSummary--header__minicart--resume :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  display: none;
}

.minicartCheckoutButton {
  padding: 0 7%;
  margin: 10px 0;
}
.minicartCheckoutButton :global(.vtex-button) {
  border-radius: 0;
  height: 50px;
  background-color: #1F752E;
  border: 0;
}
.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "Finalizar compra";
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  color: #fff;
}
.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label)::after {
  content: "";
  background-image: url(/arquivos/icon-buyButtonv2.png);
  display: block;
  width: 10px;
  height: 16px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.minicartProductListContainer {
  border: 1px solid #D5D5D5;
  margin: 0 10px;
  width: auto;
  padding: 15px 12px;
}

.minicartSummary--header__minicart--resume {
  padding: 5px 27px;
}