.flexRow {
  &--header__minicart--header {
    .flexRowContent {
      justify-content: center;
    }
  }

  &--header__minicart--item {
    .flexRowContent--header__minicart--item {
      @include tablet{
        display: flex;
      }
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ebebeb;

      :last-child{
        border: 0;
      }

      .flexCol--header__minicart--item__info {
        gap: 10px;
        margin-left: 10px;

        :global(.vtex-product-list-0-x-productName--header__minicart--name) {
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          font-family: Lato, sans-serif;
        }
      }
    }
  }

  &--header__minicart--item__info--quantity{
    .flexRowContent{
      display: flex;
      align-items: center;
    }
  }

  &--header__minicart--footer{
    .flexRowContent--header__minicart--footer{
      flex-direction: column;
    }
  }
}

.flexRow{
  &--header__minicart--footer {
    background-color: #F5F5F5;
    border: 1px solid #D5D5D5;
    margin: 10px;
  }
}
