.quantitySelectorContainer--header__minicart--quantity {
  .quantitySelectorWrapper--header__minicart--quantity {
    .quantitySelectorButton {
      &--header__minicart--quantity {
        border: 1px solid #898989;
        color: #252525;
        width: 30px;
        padding: 0;
        border-radius: 0;
        background-color: transparent;

        &::before {
          content: "";
          display: block;
          width: 20px;
          font-size: 13.5px;
          height: 100%;
          line-height: 30px;
          font-weight: 400;
          text-align: center;
        }

        :nth-child(n + 1) {
          display: none;
        }
      }
    }
    .quantitySelectorIncrease {
      &::before {
        content: "+";
      }
    }

    .quantitySelectorDecrease {
      &::before {
        content: "-";
      }
    }
    .inputContainer {
      width: 35px;
      padding: 0;
      flex: none;
      border-top: 1px solid #898989;
      border-bottom: 1px solid #898989;
      :first-child{
        font-weight: 700;
      }
    }
  }
}

.unitPriceContainer--header__minicart--price{
  .unitPricePerUnitCurrency--header__minicart--price{
    text-align: left;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    font-family: Lato;
  }
  .unitPriceMeasurementUnit--header__minicart--price{
    display: none;
  }
}

.removeButtonContainer--header__minicart--remove{
  .removeButton--header__minicart--remove {
    &::after{
      content: "";
      background-image: url(/arquivos/icon-removeButton.png);
      display: block;
      width: 20px;
      height: 22px;
      background-repeat: no-repeat;
    }
    .deleteIcon{
      display: none;
    }
  }
}

.unitPriceContainer{
  &--header__minicart--price {
    text-align: left;
  }
}

.quantitySelectorDecrease{
  &--header__minicart--quantity {
    border-right: none !important;
  }
}

.quantitySelectorIncrease{
  &--header__minicart--quantity {
    border-left: none !important;
  }
}

.item--header__minicart--remove {
  height: 115px;
}
