.openIconContainer--menu__drawer{
  padding: 0;
  &::after{
    content: '';
    background-image: url('assets/icons/menu-drawer.svg');
    width: 35px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    background-size: 35px;
  }
  .menuIcon{
    display: none;
  }
}

:global(.vtex-store-drawer-0-x-drawerHeader--header-drawer) :global(.vtex-store-components-3-x-logoImage--logo-initial) {
  display: block;
  margin: 0 auto;
}

