.container{
  @include desktop{
    width: fit-content !important;
  }
  @include tablet{
    margin-right: 25px
  }
  :global(.vtex-button) {
    padding: 0;
    margin: 0;
    width: 28pxpx;
    height: 28px;
    background: url(assets/icons/user-icon.svg) no-repeat;
  }
}
