.searchBarContainer {
  // display: none;
  @include tablet{
    display: block;


  }
  :global(.vtex-styleguide-9-x-input) {
    border: 0;
    background-color: transparent;
    width: 100%;
  }

  :global(.vtex-input-prefix__group) {
    border: 0;
    border-bottom: 1px solid #000;
    flex-direction: row-reverse;
  }
  :global(.vtex-input__suffix) {
    padding: 0;
    background-color: transparent;
  }
  :global(.vtex-store-components-3-x-searchIcon) {
    display: none;
  }
  :global(.vtex-store-components-3-x-searchBarIcon) {
    padding: 0;

    &::before {
      content: "";
      width: 21px;
      height: 21px;
      background: url(assets/icons/search.svg) no-repeat;
      background-position: center;
      background-size: contain;
      margin: 1px;
    }
  }

  @include tablet{
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    z-index: 999;
    max-width: 100%;
    background-color: white;
    padding: 16px 8px;
  }

  .autoCompleteOuterContainer{
    &--header__search-mobile{
      :global(.vtex-input-prefix__group){
        justify-content: center;
        align-items: flex-start;

        @media (max-width: 1024px) {
          align-items: center;
        }
      }
    }
  }
}

.backToTopButtonActive {
  bottom: 8rem;

  :global(.vtex-button) {
    background-color: transparent;
    border: 0;

    :global(.vtex-button__label) {
      display: none;
    }

    &::after {
      content: "";
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(assets/icons/scrollup-icon.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.imageElement{
  &--banner-categoria{
    margin-top: 20px;
  }
}




.imageElement--physical__stories-img {
  @media (max-width: 768px) {
    display: none;
  }
}


.imageElement--physical__stories-img {
  @media (min-width: 1600px) and (max-width: 1665px){
    height: 400px!important;
  }
  @media (min-width: 1550px) and (max-width: 1599px){
    height: 380px!important;
  }
  @media (min-width: 1480px) and (max-width: 1549px){
    height: 365px!important;
  }
  @media (min-width: 1455px) and (max-width: 1579px){
    height: 340px!important;
  }
  @media (min-width: 1415px) and (max-width: 1454px){
    height: 330px!important;
  }
  @media (min-width: 1380px) and (max-width: 1414px){
    height: 330px!important;
  }
  @media (min-width: 1360px) and (max-width: 1379px){
    height: 320px!important;
  }
  @media (min-width: 1330px) and (max-width: 1359px){
    height: 300px!important;
  }
  @media (min-width: 1300px) and (max-width: 1329px){
    height: 280px!important;
  }
  @media (min-width: 1260px) and (max-width: 1299px){
    height: 270px!important;
  }
  @media (min-width: 1200px) and (max-width: 1259px){
    height: 250px!important;
  }
  @media (min-width: 1100px) and (max-width: 1199px){
    height: 230px!important;
  }
  @media (min-width: 1000px) and (max-width: 1099px){
    height: 200px!important;
  }
}

.logoLink--logo-hover {
  @media (min-width: 768px){
    margin-left: -15px;
    margin-top: -3px;
  }
}

